BODY {
	MARGIN-TOP: 0px;
	BACKGROUND-IMAGE: url(wb_01.gif);
	BACKGROUND-COLOR: 0DA1E7;
	BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-POSITION: top;
}



.rotate {
    /* Safari */
    -webkit-transform: rotate(-5deg);
    /* Firefox */
    -moz-transform: rotate(-5deg);
    /* IE */
    -ms-transform: rotate(-5deg);
    /* Opera */
    -o-transform: rotate(-5deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}